.container {
  min-height: calc(100vh - 250px);
  display: grid;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 205px;
}

.tabs:hover{
  cursor: pointer;
}

.tabs > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: white;
  border: 1px solid;
  border-radius: 7px;
}

.tabs > div:first-child{
    border-right-color: gray;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tabs > div:last-child{
    border-left-color: gray;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tabs > div > img {
  margin-bottom: 1rem;
  width: 24px;
}

.checkmark{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    border-color: white;
    background-color: #a88c6a;
    width: 25px;
    height: 25px;
    position: relative;
    top: -60px;
}

.checkmarkInactive{
    opacity: 0;
}

.title {
  font-weight: bold;
}

.smalltitle {
  font-size: 0.6rem;
  color: gray;
}

.formcontainer {
  width: 100%;
  text-align: center;
}

.formcontainer > div {
  margin-bottom: 0.75rem;
}

.inputs {
  border-radius: 7px;
  border: solid 1px black;
  outline: none;
  height: 40px;
  width: 100%;
  color: black;
}

.inputs::placeholder {
  color: black;
  padding: 0.3rem 0.8rem;
}

.inputsnames {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.button {
  margin-top: 1rem;
  background-color: black;
  border: none;
  height: 35px;
  width: 120px;
  color: white;
  border-radius: 5px;
  outline: none;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: rgb(43, 40, 40);
  cursor: pointer;
}
