* {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #d8d8d8;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 600px) {
  body {
    width: 100%;
    flex-direction: column;
  }
}