.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 71vh;
  row-gap: 10ch;
}


.logoback{
  background-color: #222222;
  width: 250px;
  height: 200px;
}

.logodiv {
  display: flex;
  justify-content: center;
  margin-top: -240px;
  margin-bottom: 15px;
}

.logo_shape {
  border-left: 20px solid;
  border-bottom: 20px solid;
  height: 40px;
  width: 30px;
  margin: 10px 0;
  border-bottom-left-radius: 3px;
}
.logo_shape_1 {
  transform: rotate(45deg);
  border-color: #f2994a;
}
.logo_shape_2 {
  transform: rotate(-135deg);
  border-color: #2d9cdb;
  margin: 40px 0 0 -30px;
}

.title{
  color: 222222;
  font-size: 25px;
  font-weight: 400;
}

