.nav {
  display: flex;
  align-items: center;
}

.logodiv {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.logo_shape {
  border-left: 10px solid;
  border-bottom: 10px solid;
  height: 25px;
  width: 25px;
  margin: 20px 0;
  border-bottom-left-radius: 3px;
}
.logo_shape_1 {
  transform: rotate(45deg);
  border-color: #f2994a;
}
.logo_shape_2 {
  transform: rotate(-135deg);
  border-color: #2d9cdb;
  margin: 40px 0 0 -25px;
}

.mininav{
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navbar {
  background-color: #222222;
  height: 100px;
  gap: 2rem;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbaritems {
  display: flex;
  gap: 2rem;
}

.usercercle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  color: #222222;
  font-weight: bold;
  height: 35px;
  width: 35px;
}

.navbarlink {
  color: white;
}
.navbarlink:hover {
  color: #f3994b;
}

.authnavbar {
  background-color: white;
  font-size: 0.9rem;
  height: 35px;
  flex-direction: row-reverse;
  gap: 1rem;
  padding-right: 2rem;
}

.authlink {
  color: gray;
}

.authlink:hover {
  color: black;
}

.footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  color: white;
  font-size: 0.8rem;
}

.footer > div {
  display: grid;
  grid-auto-flow: row;
  row-gap: 1ch;
}
